@import url('https://fonts.googleapis.com/css?family=Hind|Open+Sans|PT+Sans|Roboto');

/*Site colors
	Blue - #291670   rgb(40, 22, 112);
	Gold - #bf9f62  rgb(191, 159, 98);
	white back - #F0F0F0  rgb(240, 240, 240);
*/

body, header, main, section, article, footer, .container, a.navLink, button#btnMobileToggle, nav, div.navigation, a#logoLink, .social-media-container, div.fields, form, div.contact.field, div.our-core-principles-icon-container {
	display: flex;
	flex-wrap: wrap;
}

body, header, main, footer, section, .container, .navContainer, a.navLink, div.navigation, div.footerArea, .social-media-container, footer p#copyright, div.fields, form, label, div.fields input, div.fields textarea, div.contact.field, #googleMapAddress, p{
	width: 100%;
	max-width: 100%;
}


body, p.blog-post-date, footer p#copyright {
    margin: 0px;
}

body{
	font-size: 1rem;
	font-family: 'Open Sans', sans-serif;
	color: #000;
	font-style: normal;
	line-height: 1.5em;
}

header{
	padding: 10px;
	z-index: 1;
	box-shadow: 0px 4px 4px rgba(0,0,0,0.25);
}

article{
	width: calc(100% - 20px);
	padding: 0px 10px;
	margin: auto;
}

h1,h2,h3, footer p, a.footer-link{
	font-family: 'Roboto', sans-serif;
}

h1,h2,h3{
	font-family: 'Roboto', sans-serif;
	font-weight: bold;
	line-height: normal;
	width: 100%;
}

h1 {
    margin: 0px;
    padding: 50px;
    text-align: center;
    vertical-align: middle;
    text-transform: uppercase;
	background:  rgba(40, 22, 112, 0.6);
	border-bottom-left-radius: 50%;
    color: #fff;
    font-size: 2em;
    font-weight: bold;
}

h2{
	font-style: normal;
	font-size: 1.75em;
	text-align: center;
	color: #291670;
	margin: 10px auto;
}

h2, h3{
	text-transform: capitalize;
}

nav{
    width: 270px;
    background: #bf9f62;
    padding-top: 15px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 30px;
    right: 0;
    position: relative;
}

nav ul{
    list-style: none;
    padding: 0;
}

section{
	margin-bottom: 20px;
}

#btnMobileToggle, .navImage{
	width: 25px;
	height: 25px;
}

a.navLink, .btn, a#logoLink, a.property-link, a.blog-post-link, a.link-to-view-all-post, a.footer-link{
  	text-decoration: none;
}

a#logoLink {
    width: 100%;
}

a.navLink{
  	padding: 10px;
}

button#btnMobileToggle{
    margin-bottom: auto;
    margin-top: auto;
    margin-left: auto;
    background-color: transparent;
    border: 0px;
    padding: 0px;
}

.btn{
	width: 250px;
    font-size: 1em;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    cursor: pointer;
}

button.btn{
	border: 0;
	border-radius: 20px;
}

i.fa.fa-bars {
    color: #291670;
}

i.fas.navImage {
    color: #fff;
}

.fa, .fas{
	font-size: 1.5em;
	width: 1.5em;
}

i.fas::before, i.far::before {
    margin: 8%;
}

i.contact-detail {
    color: #291670;
    margin: auto 5px;
    font-size: 1em;
}

.overlay{
	max-height: 100vh;
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 1;
	top: 100px;
	right: 0;
	background: rgba(255, 255, 255, 0.75);
	transition: 0.4s;
	overflow-y: auto;
}

input, textarea#your-message{
	font-size: 1.2em;
	padding: 5px;
    border: 0.3px solid black;
    box-shadow: 0px 4px 4px rgba(0,0,0,0.25);
}

form{
	margin: auto;
}

label, div.fields, div.fields input, div.fields textarea {
    margin: 5px auto;
}

a.contact-email, a.contact-tel{
	color: #000;
    font-size: 1em;
    margin: auto 5px;
}

.title-wrap.container {
	background: #bf9f62;
}

div.contact.field {
    margin: 5px;
}

[aria-hidden = "true"]{
	display: none;
}

[aria-hidden = "false"]{
	visibility: visible;
}

.noScroll{
	overflow: hidden;
}

.homepage.slider.image {
    width: 100%;
    height: 50vh;
}

img#logo{
	width: 75px;
	height: 75px;
}

p.navItem {
    margin: auto 5px;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.25em;
	text-transform: uppercase;
	width: auto;
}

.container.property, .container.blog-post, .our-core-principles.container, .core-values.container{
	box-shadow: 3px 3px 3px rgba(0,0,0,0.25);
	margin: 10px auto;
}

.container.property, .container.blog-post {
    background-color: #291670;
}
.container.property{
    width: 300px;
    display: grid;
    grid-template-rows: 300px auto 44px;
}

.core-values.container, container.blog-post {
	width: calc(100% - 20px);
	max-width: 500px;
}

.container.blog-post {
    display: grid;
    grid-template-columns: 33% 67%;
    /* grid-template-columns: 100px calc(100% - 100px); just want yu to know this is possible */
    grid-template-rows: 100px 44px;
}

img.property-image, img.blog-post-image {
	margin: 0px;
}

img.blog-post-image {
    grid-row: 1/3;
    grid-column: 1/2;
    width: 100%;
    height: 100%;
}

img.property-image{
    width: 300px;
    height: 300px;
    margin: 0px;
    grid-row-end: 2;
}

a.property-link, a.blog-post-link{
	margin: 0px;
	cursor: pointer;
}

a.property-link{
    grid-row-end: 4;
}

a.blog-post-link {
    grid-column: 1/3;
}

.containers.details {
    grid-row: 1/3;
    grid-column: 2/3;
	margin: auto;
	width: 100%;
    display: flex;
    flex-wrap: wrap;
}

p.property-name, p.property-location,p.property-price, p.property-size, p.blog-post-name, p.blog-post-excerpt, p.blog-post-date {
    font-family: 'PT Sans', sans-serif;
	line-height: normal;
	width: auto;
}

p.property-name, p.property-location, p.blog-post-name, p.blog-post-excerpt {
    width: 95%;
    margin: auto;
}

p.property-name, p.property-location, p.blog-post-name {
    text-align: center;
}

p.blog-post-excerpt{
	text-align: left;
	width: calc(100% - 15px);
}

p.property-name, p.blog-post-name{
	font-weight: bold;
	font-size: 1.2em;
	text-transform: uppercase;
	color: #BF9F62;
}

p.property-location, p.blog-post-excerpt{
	color: #fff;
	font-size: 1.1em;
}

i.fas.property {
    margin: auto 10px;
    color: #fff;
}

p.property-price, p.property-size {
    color: #fff;
    margin: auto 5px;
    font-weight: bold;
}

a.link-to-view-all-post, a.property-link, a.blog-post-link{
	font-family: 'Hind', sans-serif;
}

a.property-link, a.blog-post-link, footer p#copyright{
	background: #BF9F62;
	color: #fff;
	padding: 10px;
	font-weight: bold;
	font-size: 1em;
	text-align: center;
	text-transform: capitalize;
}

section.about-snippet {
    background: rgba(41,22,112,0.3);
}

.blog-post-date-container {
    position: absolute;
    margin-top: 10px;
    padding: 5px;
    background: #BF9F62;
    border-radius: 0px 10px 10px 0px;
}

p.blog-post-date{
	font-weight: bold;
	font-size: 1em;
	text-align: right;
	color: #291670;
}

a.link-to-view-all-post, button.btn{
	padding: 10px;
	margin: 20px auto;
	text-align: center;
	text-transform: uppercase;
	color: #fff;
	background: #291670;
}

button.btn:hover, a.link-to-view-all-post:hover {
    color: #291670;
    background: #fff;
    border: 1px solid #291670;
    padding: 9px 10px;
}

figure {
    margin: auto;
    display: grid;
    grid-template-columns: 300px;
}

img.investor-img {
    width: 300px;
    margin: 0px auto;
}

figcaption.investor-name {
    width: 280px;
    text-align: center;
    margin: 0px auto;
    font-size: 0.85em;
    color: #291670;
    padding: 10px;
    background: #f0f0f0;
}

p.signed {
    text-align: right;
    font-size: 0.95em;
    font-style: oblique;
}

p.signed strong{
	color: #291670;
}

.core-values.container {
    margin: 10px 0px;
}

.core-values.container p {
    margin: 0px;
}

h3.core-value {
    margin: 0px;
}

.our-core-principles.container {
    width: 300px;
    display: grid;
    grid-template-rows: auto;
	grid-template-columns: auto 200px;
	background: rgba(240,240,240,0.4);
}

h3.our-core-priniciple {
    grid-column-end: 3;
    margin: 0px;
    font-size: 1.1em;
}

p.our-core-priniciple-text {
    grid-column-end: 3;
    margin: 0;
    font-size: 0.9em;
}

i.fas.our-core-principles-icon {
    margin: auto;
    font-size: 50px;
	color: #fff;
	text-align: center;
}

div.our-core-principles-icon-container {
    grid-column: 1/2;
    grid-row: 1/3;
    margin-right: 5px;
}

.icon-1 {
    background: #291670;
}

.icon-2 {
    background: #BF9F62;
}

.icon-3 {
    background: pink;
}

.icon-4 {
    background: #547;
}

.icon-5 {
    background: #52e07c;
}

.icon-6 {
    background: #FF473A;
}

footer{
	margin-top: 30px;
	background: #291670;
	padding-top: 20px
}

img.footer-logo{
	width: 100px;
	height: 100px;
	margin: 10px auto;
}

footer p#copyright{
	font-family: 'Open Sans', sans-serif;
	margin-top: 20px;
}

footer p, a.footer-link{
	color: #fff;
}

div.footerArea{
	margin: 10px;
}

p.miniAbout{
	text-align: center;
}

p.miniAbout{
	width: 100%;
	margin: 20px auto;
}

i.fas.footerIcon {
    margin: 10px;
    color: #BF9F62;
}

footer p {
    margin: 10px;
}

.social-media-container {
    margin: 10px;
}

footer p strong{
	font-size: 1.25em;
    color: #BF9F62;
}

.social-media {
    margin: 10px;
}

a.social-link {
    margin: 5px auto;
}

i.social-media-icon:hover {
    transition: 0.3s;
    color: #fff;
}

i.social-media-icon {
    font-size: 2.5em;
    color: #BF9F62;
}

p.footer-contact-detail {
    width: 250px;
}

@media screen and (max-height: 450px) {
	nav{
		height: 100%;
	}
}

@media screen and (min-width: 1024px) {
	nav{
		height: auto;
	}

	body{
		overflow-y: scroll;
	}

	nav ul, .overlay{
		display: flex;
		flex-wrap: wrap;
	}
	
	article{
		max-width: 80%;
		margin: auto;
	}

	.fullWidth{
		width: 100%;
		max-width: 100%;
	}

	.overlay{
		position: inherit;
	}

	button#btnMobileToggle{display: none;}

	nav, .overlay{
		width: 100%;
		padding: 0;
		background: #fff;
	}

	nav ul{
		margin: auto;
	}

	.navImage, i.navImage{
		display: none;
	}

	p.navItem{
		color: #291670;
		text-align: center;
	}

	a.navLink p.navItem:hover{
		color: #BF9F62;
	}

	article#contact-form, article#contact-details, .container.col-2{
	    width: 45%;
	    margin: 5px auto;
	}

	header div.container{
		width: 100px;
	}

	header div.navContainer{
		width: calc(100% - 100px);
	}

	header{
		padding: 5px;
	}

	div.navigation{
		width: 1024px;
		margin: auto;
	}

	footer div.footerArea{
		width: 30%;
	}
}